*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.contact-form{
    display: flex;
    width: 500px;
    height:400px;
    background-color: azure;
    align-items: center;
    justify-content: center;
}